{{- if .Values.resources.gpus.enabled }}
{{- $resourceApiVersion := (include "nvidia-dra-driver-gpu.resourceApiVersion" . | trim) }}
---
apiVersion: {{ $resourceApiVersion }}
kind: DeviceClass
metadata:
  name: gpu.nvidia.com
spec:
  selectors:
  - cel:
      expression: "device.driver == 'gpu.nvidia.com' && device.attributes['gpu.nvidia.com'].type == 'gpu'"
  {{- if eq $resourceApiVersion "resource.k8s.io/v1" }}
  extendedResourceName: nvidia.com/gpu
  {{- end }}
{{- end }}
